<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bienvenue sur MonJournal !!! </title>
</head>
<body>

<h1>Bienvenue sur MonJournal !!! </h1>

	<p>
		{% if session_active %}
			<a href="ajouter.php">Ajouter un article</a>
			<br />
			<a href="deconnexion.php">Déconnexion</a>
			<br />
		{% else %}
			<a href="identification.php">Authentification</a>
			<br />
		{% endif %}
	</p>

	{% for article in lesArticles %}
	<h3>{{ article.titre }}</h3>
	<p>
		<b>Ecrit par {{ article.auteur }}, le {{ article.date | date('d/m/Y') }}</b>
	<p>
	<p>
		<i>{{ article.intro }}</i>
	</p>
	<p>
		<a href="article.php?id={{ article.id }}">Lire la suite ...</a>
	</p>
	<hr />
	{% endfor %}

</body>
</html>